body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --main-color:#bfb442;
  --second-color:#201D0D;
  --text-color:#444;
  --gradient:linear-gradient(#ECDE3C,#201D0D);
}
/* Custom scrollbar styles */
body::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #68666665; /* Color of the handle */
  border-radius: 6px; /* Rounded corners of the handle */
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #000000; /* Color of the handle on hover */
}
